<h1>Program Your Recipe</h1>

<form method="POST" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">


  <input type="text" name="name" value="<%= @recipe.name %>">

    <textarea name="directions"><%= @recipe.directions %></textarea>
    <textarea name="ingredients"><%= @recipe.ingredients %></textarea>
    <textarea name="notes"><%= @recipe.notes %></textarea>

    <input type="submit">

</form>
