<h1><%= @recipe.name %></h1>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.directions %></p>
<p><%= @recipe.notes %></p>

<h2>Delete Recipe</h2>
<form method="POST" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
  <button type="submit" formaction="/recipes/<%= @recipe.id %>/edit">Edit</button>
  </form>
